@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

/* Add this to your CSS file */
.group:hover .group-hover\:opacity-0 {
  opacity: 0 !important;
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1 !important;
}

/* Force hover to work */
.group:hover [class*="group-hover:opacity-0"] {
  opacity: 0 !important;
}

.group:hover [class*="group-hover:opacity-100"] {
  opacity: 1 !important;
}
